.main {
    flex: 1;
    padding: 50px;
}

.input {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 20px;
}

.submitButton {
    padding: 10px 15px;
    background: #ee4059;
    color: #fff;
    border-radius: 3px;
    border: 0;
    -webkit-appearance: none;
    font-size: 20px;
}